<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/rock-image.png" class="figure-img img-fluid rounded img-thumbnail"
        style="max-width: 120px">
    <figcaption class="figure-caption">The Rock</figcaption>
    <figcaption class="figure-caption">(killer)</figcaption>
</figure>